div.container
	div.row
		div.col-lg-12
			footer
				p 
					| Created by 
					a(href="http://iancrowther.co.uk") Ian Crowther 
					| using 
					a(href="http://nodejs.org") nodejs, 
					a(href="http://harpjs.com") harp 
					| and the 
					a(href="http://getbootstrap.com") twitter bootstrap.  
					| Hosted on 
					a(href="http://pages.github.com") github pages.