doctype html
html(lang="en")
	head
		title= title
		meta(name="viewport", content="width=device-width", initial-scale="1")
		meta(name="description", content="The profile page of Ian Crowther")
		meta(name="author", content="Ian Crowther")
		link(rel="stylesheet" href="styles.css")
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
	body
		div.container-full
			!= yield
			!= partial("_footer", { footer: public._data.footer })