div.container
	div.row
		footer.col-xs-12.col-lg-12
			p
				| Created by&nbsp;
				a(href= 'http://' + uri)
					= author
				| &nbsp;using&nbsp;
				a(href= footer.node.href)
					= footer.node.text
				|,&nbsp;
				a(href= footer.harp.href)
					= footer.harp.text
				| &nbsp;and the&nbsp;
				a(href= footer.bootstrap.href)
					= footer.bootstrap.text
				| &nbsp;Hosted on&nbsp;
				a(href= footer.pages.href)
					= footer.pages.text
